@import '../../variables.scss';



.participants {
	&-modal {
		overflow: hidden;
		z-index: 100;
		width: 250px; 
		border-radius: 7px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
		box-sizing: border-box;
		padding: 10px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: calc(100% + 10px);
		transform: translate(0, -20px);
		background-color: #fff;
	}

	&-title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		h6 {
			font-weight: 600;
			font-size: $medium-font-size;
			margin: 0;
		}
	}

	&-close {
		position: absolute;
		right: 10px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 1;

		span {
			display: block;
			width: 100%;
			height: 1px;
			border-radius: 7px;
			background-color: #C4C4C4;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		span:first-child {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		
		span:last-child {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&-users {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 15px 0 0 0;
		padding: 0;
		position: relative;
		list-style: none;
		max-height: 200px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 3px;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-track {
			background: $light-faded-background-color;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: $faded-background-color;
			border-radius: 5px;
		}

		&__wrapper {
			display: flex;
			align-items: center;
		}

		li {
			width: 100%;
			box-sizing: border-box;
			padding: 5px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: $small-font-size;
			border-radius: 5px;
			background-color: $light-faded-background-color;
			transition: .1s ease-in;
			margin-bottom: 5px;

			&:hover {
				background-color: $faded-background-color;
			}
		}

		&__avatar {
			width: 27px;
			height: 27px;
			overflow: hidden;
			position: relative;
			border-radius: 50%;
			background-color: #fff;
			margin-right: 10px;

			img {
				position: absolute;
				width: 100%;
			}
		}

		&__cross {
			margin-right: 5px;
		}
	}

	&-input {
		width: 100%;
		border: none;
		outline: none;
		margin-top: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		font-size: $regular-font-size;
	}

	&-commands {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 15px 0 0 0;
		padding: 0;
		list-style: none;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			box-sizing: border-box;
			padding: 5px 10px;
			cursor: pointer;
			display: block;
			font-size: $regular-font-size;
			opacity: 50%;
			border-bottom: 1px solid rgba(0, 0, 0, .2);

			&:hover {
				opacity: 80%
			}
		}
	}
}

// animation using CSSTransition Group
.participants-animate {
	&-enter {
		opacity: 0;
	}
	&-enter-active {
		opacity: 1;
		transition: all 200ms;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: all 200ms;
	}
}

@media all and (max-width: 768px) {
	.participants {
		&-modal {
			transform: translate(-50%, -100%);
			left: 50%;
			top: -100%;
		}
	}
}