@import '../../variables.scss';

.fullview {
	&__sidebar {
		box-sizing: border-box;
		padding: 70px 25px 20px 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $high-light-supporting-color;
		
		&--open {
			background-color: $high-light-supporting-color;
		}

		&--completed {
			background-color: $success-color;
		}

		&--failed {
			background-color: $fail-color;
		}

		&-menu {
			margin-top: 10px;
			display: flex;
			flex-direction: column;

			h6 {
				color: #fff
			}
		}

		&-button {
			&:hover {
				background-color: $light-faded-background-color;
			}

			border-radius: 3px;
			padding: 5px 10px;
			box-sizing: border-box;
			border: none;
			outline: none;
			font-size: 14px;
			width: 175px;
			text-align: center;
			color: #4E4C4C;
			margin-bottom: 10px;
			transition: .1s ease-in;
			background-color: #fff;
		}
	}
}

@media all and (max-width: 768px) {
	.fullview {
		&__sidebar {
			padding: 25px;

			&-button {
				margin: 2px 0;
			}
		}
	}
}