// font size
// homepage
$homepage-title-font-size: 40px;
$homepage-block-title-font-size: 38px;
$homepage-text-font-size: 16px;

// landing
$heading-font-size: 24px;

// modal
$modal-header-font-size: 20px;
$modal-font-size: 15px;

// profile
$profile-header-font-size: 15px;
$profile-font-size: 14px;
$profile-small-font-size: 10px;

// boards
$board-header-font-size: 14px;

// general
$title-font-size: 24px;
$medium-font-size: 18px;
$regular-font-size: 16px;
$small-font-size: 12px;
$target-box-font-size: 9px;

// colors
$dark-main-color: #010135;
$dark-supporting-color: #01528A;
$high-light-color: #0096D3;
$blur-color: #BEE7F8;
$high-light-supporting-color: #6EC7EB;
$faded-background-color: #e6e6e6;
$light-faded-background-color: #F6F6F6;
$fail-color: #FC5151;
$success-color: #6FE7C3;

// modal element
$close-btn-color: #C4C4C4;