@import '../../variables.scss';


.fullview {
	&__labels {
		p {
			width: 100%;
			font-size: 14px;
			opacity: .8;
		}

		&-bars {
			display: flex;
			flex-wrap: wrap;

			&-wrapper {
				position: relative;
			}

			&-badge {
				position: relative;
				cursor: pointer;
				margin-right: 5px;
				margin-bottom: 5px;
				font-size: $small-font-size;
				border-radius: 2px;
				text-align: center;
				font-weight: 500;
				min-width: 75px;
				max-width: 150px;
				color: #fff;
				box-sizing: border-box;
				padding: 7px 10px;
			}
		}
	}
}