@import '../../variables.scss';

.sidebar {
	position: relative;
	min-height: calc(100vh - 56px);
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $high-light-supporting-color;
	box-sizing: border-box;
	padding: 20px 25px;

	&__list {
		padding: 0;
		list-style: none;
	}

	&__menu-item {
		margin-top: 25px;
		cursor: pointer;

		&:nth-child(1) {
			margin-top: 0;
		}
	}

	&__button {
		cursor: pointer;
	}
}

@media all and (max-width: 768px) {
	.sidebar {
		min-height: 0;
		height: auto;
		position: relative;
		align-items: center;
		justify-content: center;
		bottom: 0;
		width: 100%;
		flex-direction: row;
		padding: 10px 25px;

		&__list {
			display: flex;
			margin: 0;
		}

		&__menu-item {
			margin: 0;
			margin-right: 40px;
		}
	}
}
