@import '../../variables.scss';



.list__action {
	&-modal {
		overflow: hidden;
		z-index: 100;
		width: 200px; 
		border-radius: 7px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
		box-sizing: border-box;
		padding: 10px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		right: 10px;
		top: 40px;
		background-color: #fff;
	}

	&-title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		h6 {
			font-weight: 600;
			font-size: $medium-font-size;
			margin: 0;
		}
	}

	&-close {
		position: absolute;
		right: 10px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 1;

		span {
			display: block;
			width: 100%;
			height: 1px;
			border-radius: 7px;
			background-color: #C4C4C4;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		span:first-child {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		
		span:last-child {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&-commands {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 15px 0 0 0;
		padding: 0;
		list-style: none;

		li {
			box-sizing: border-box;
			padding: 5px 10px;
			cursor: pointer;
			display: block;
			font-size: $regular-font-size;
			opacity: 50%;
			border-bottom: 1px solid rgba(0, 0, 0, .2);
			transition: all .1s ease-in;

			&:hover {
				opacity: 80%
			}
		}
	}
}

// animation using CSSTransition Group
.list_action-animate {
	&-enter {
		opacity: 0;
	}
	&-enter-active {
		opacity: 1;
		transition: all 200ms;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: all 200ms;
	}
}